
.idea/.idea.-Discord-cs2-ReportSystem.dir/.idea/misc.xml
bin/release/net7.0/CounterStrikeSharp.API.dll
.idea/.idea.-Discord-cs2-ReportSystem.dir/.idea/workspace.xml
bin/release/net7.0/publish/CounterStrikeSharp.API.dll
bin/release/net7.0/publish/ReportSystem.deps.json
bin/release/net7.0/publish/ReportSystem.dll
bin/release/net7.0/publish/ReportSystem.pdb
bin/release/net7.0/ReportSystem.deps.json
bin/release/net7.0/ReportSystem.dll
bin/release/net7.0/ReportSystem.pdb
CounterStrikeSharp.API.dll
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/ReportSystem.AssemblyInfo.cs
obj/Debug/net7.0/ReportSystem.AssemblyInfoInputs.cache
obj/Debug/net7.0/ReportSystem.assets.cache
obj/Debug/net7.0/ReportSystem.csproj.AssemblyReference.cache
obj/Debug/net7.0/ReportSystem.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/ReportSystem.GlobalUsings.g.cs
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/release/net7.0/PublishOutputs.74cac132ae.txt
obj/release/net7.0/ref/ReportSystem.dll
obj/release/net7.0/refint/ReportSystem.dll
obj/release/net7.0/ReportSystem.AssemblyInfo.cs
obj/release/net7.0/ReportSystem.AssemblyInfoInputs.cache
obj/release/net7.0/ReportSystem.assets.cache
*.cache
obj/release/net7.0/ReportSystem.csproj.CopyComplete
obj/release/net7.0/ReportSystem.dll
*.txt
obj/release/net7.0/ReportSystem.GeneratedMSBuildEditorConfig.editorconfig
obj/release/net7.0/ReportSystem.GlobalUsings.g.cs
obj/release/net7.0/ReportSystem.pdb
obj/ReportSystem.csproj.nuget.dgspec.json
obj/ReportSystem.csproj.nuget.g.props
obj/ReportSystem.csproj.nuget.g.targets
obj/rider.project.restore.info
